# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment
.env
venv/
env/
ENV/
.venv/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# -----------------------------------------------------
# Ignore text files and markdown files except specific ones
# -----------------------------------------------------
*.txt
!requirements.txt

*.md
!README.md

# Ignore the bug fixes folder (testing/patching/temp files)
bug fixes/
